@import "./fn.scss";
$desktop-width: 1024px;
$content-max-width: 1750px;
$eSpacing-10: 10px;
$header-height-p: 88px;
$header-height-l-p: 136px;
$header-height-m: 104px;



// color

$primary-yellow-color: #FFAC32;